.inner {
  height: 100vh;
  overflow: hidden;
}

.num {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: 800;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  z-index: 999;
}

.btn {
  position: fixed;
  top: 50px;
  right: 50px;
  transform: translate(50%, -50%);
  z-index: 1000;
  font-size: 0;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px dashed #ccc;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    right: 6px;
    height: 4px;
    background: #ccc;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 6px;
    right: 6px;
    height: 4px;
    background: #ccc;
  }

  &.on::before {
    display: none;
  }

  &.on::after {
    display: none;
  }

  span::before,
  span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    right: 6px;
    height: 4px;
    background: #ccc;
    transition: 0.3s;
  }

  &.on span::before {
    transform: rotate(45deg);
  }

  &.on span::after {
    transform: rotate(-45deg);
  }
}

.Cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  height: 0;
  overflow: hidden;
  transition: 0.5s;

  &.on {
    height: 100vh;
  }

  // 점선
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed #ddd;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 1px dashed #ddd;
  }

  .inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      border-right: 1px dashed #ddd;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      border-left: 1px dashed #ddd;
    }
  }

  h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
    font-weight: 800;
    line-height: 100px;
  }

  ul {
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 769px;
    max-width: 1000px;
    transform: translate(-50%, -50%);

    >li {
      font-size: 18px;
      font-weight: 500;
      border-bottom: 1px dashed #ddd;

      &:last-child {
        border-bottom: none;
      }

      a {
        position: relative;
        display: block;
        padding: 20px 0 20px 30px;
        margin-left: 150px;
        border-left: 1px dashed #ddd;
      }

      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 14px;
        font-weight: 800;
        padding: 0 20px 0 0;
      }

      &:nth-child(1) {
        position: relative;

        &::before {
          content: "Intro";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: #5894cc;
        }
      }

      &:nth-child(2) {
        position: relative;

        &::before {
          content: "Standard Web";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: #5894cc;
        }
      }

      &:nth-child(5) {
        position: relative;

        &::before {
          content: "Responsive Web";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: #5894cc;
        }
      }

      &:nth-child(9) {
        position: relative;

        &::before {
          content: "React Web";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: #5894cc;
        }
      }

      &:nth-child(11) {
        position: relative;

        &::before {
          content: "Outro";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          font-size: 14px;
          font-weight: 600;
          color: #5894cc;
        }
      }
    }
  }
}

.gnb {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translate(50%, -50%);
  z-index: 999;
  font-size: 13px;
  color: #999;

  .top {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    opacity: 0.5;
  }

  .bottom {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    opacity: 0.5;
  }

  li {
    margin: 15px;

    a {
      position: relative;
      display: inline-block;
      width: 28px;
      height: 20px;
      transform: scale(0.8);
      border-radius: 0 3px 3px 3px;
      background: #ffebbb;

      &::after {
        content: "";
        position: absolute;
        top: -3px;
        left: 0;
        width: 10px;
        height: 3px;
        background: #ffebbb;
        border-radius: 3px 8px 0 0;
      }

      &::before {
        content: "";
        display: none;
      }
    }

    &.on a {
      transform: scale(1);

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 20px;
        height: 5px;
        background: #cfeefc;
        z-index: -1;
      }
    }
  }
}

.section {
  position: relative;

  .subject {
    position: absolute;
    left: 170px;
    top: 50px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed #ddd;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 1px dashed #ddd;
  }

  .inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      border-right: 1px dashed #ddd;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      border-left: 1px dashed #ddd;
    }
  }
}

.title_page {
  position: relative;

  .blobs {
    position: absolute;
    right: -200px;
    bottom: -200px;
    z-index: -1;
  }


  .inner {
    position: relative;

    .pf_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .pf_txt {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      padding: 10px 0;
      background: #000;
      color: #fff;
      margin: 0 0 10px 0;

      &::before {
        content: "";
        position: absolute;
        right: 630px;
        top: 25px;
        width: 0;
        height: 0;
        border-bottom: 2px dashed #fff;
        transition: 0.5s 0.5s ease-in;
      }

      &::after {
        content: "";
        position: absolute;
        left: 630px;
        top: 25px;
        width: 0;
        height: 0;
        border-bottom: 2px dashed #fff;
        transition: 0.5s 0.5s ease-in;
      }
    }

    .pf_title:hover .pf_txt::before {
      width: 350px;
    }

    .pf_title:hover .pf_txt::after {
      width: 350px;
    }

    .sqw {
      width: auto;
      display: flex;
      justify-content: center;
    }

    .text {
      color: #000;
      font-size: 80px;
      font-weight: 900;
    }

    .tpq {
      max-width: 0;
      // max-width: 1em;
      opacity: 0;
      transition: 0.5s ease-in;
      color: #333;
    }

    .pf_title:hover .tpq {
      opacity: 1;
      max-width: 1em;
    }

    .blk {
      margin: 0 50px 0 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 70px;
    }

    .cs_icon {
      position: absolute;
      left: 50%;
      bottom: -200px;
      transform: translateX(-50%);
      margin: 0 0 0 250px;
      font-size: 40px;
      z-index: -1;
      opacity: 1;
      transition: 0.5s;
      -webkit-animation: slide-bck-tl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
      animation: slide-bck-tl 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    .pf_title:hover .cs_icon {
      opacity: 0;
    }
  }

  .circle {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 -111px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    -webkit-animation: whirl-bounce 0.5s cubic-bezier(0.6, 0.3, 0.8, 0.5) alternate infinite;
    animation: whirl-bounce 0.5s cubic-bezier(0.6, 0.3, 0.8, 0.5) alternate infinite;
    -webkit-transform-origin: bottom center;
    transform-origin: bottom center;
  }
}

@-webkit-keyframes whirl-bounce {
  0% {
    -webkit-transform: translate(0, -150%) scaleX(1) scaleY(1);
    transform: translate(0, -150%) scaleX(1) scaleY(1);
  }

  100% {
    -webkit-transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
    transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
  }
}

@keyframes whirl-bounce {
  0% {
    -webkit-transform: translate(0, -150%) scaleX(1) scaleY(1);
    transform: translate(0, -150%) scaleX(1) scaleY(1);
  }

  100% {
    -webkit-transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
    transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px;

  .photo {
    position: relative;
    flex: 2;
    border-right: 1px dashed #ddd;

    .screen {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      height: 80%;
      border-radius: 30px;
      border: 5px solid #fff;
      overflow: hidden;
      box-shadow: 0 0 10px #ccc;
    }
  }

  .sr_res {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
    width: 20%;
    height: 50%;
    border-radius: 30px;
    border: 5px solid #fff;
    box-shadow: 3px 3px 5px #ccc;
    overflow: hidden;

    .project04 {
      width: 100%;
      height: 100%;
      background: url(../public/images/project05_res.png) no-repeat top center/cover;
    }

    .project05 {
      width: 100%;
      height: 100%;
      background: url(../public/images/project06_res.png) no-repeat top center/cover;
    }

    .project06 {
      width: 100%;
      height: 100%;
      background: url(../public/images/project07_res.png) no-repeat top center/cover;
    }

    .project07 {
      width: 100%;
      height: 100%;
      background: url(../public/images/project08_res.png) no-repeat top center/cover;
    }
  }

  .desc {
    flex: 1;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto 0;

    >div {
      // padding-left: 70px;
      width: 80%;
      margin: 0 auto;
    }

    strong {
      display: inline-block;
      background: #333;
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      padding: 5px 13px;
      margin: 0 0 10px 0;
    }

    h2 {
      font-size: 40px;
      font-weight: 800;
      margin: 0 0 30px 0;
    }

    .view {
      font-size: 14px;
      color: #666;

      a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px dashed #666;
        white-space: nowrap;
      }

      :hover {
        background: #666;
        color: #fff;
        transition: 0.3s;
      }
    }

    >ul {

      >li {
        // line-height: 50px;
        padding: 15px 10%;
        border-bottom: 1px dashed #ddd;

        &:first-child {
          border-top: 1px dashed #ddd;
        }

        span {
          display: inline-block;
          // margin: 0 0 0 70px;
          font-size: 18px;
          font-weight: 700;
          min-width: 90px;
        }

        ol {
          display: inline-block;

          li {
            display: inline-block;
            width: 40px;
            height: 13px;
            vertical-align: middle;
            margin-right: 1px;
            font-size: 0;
            border: 1px solid #ddd;
          }
        }
      }
    }
  }
}

@-webkit-keyframes slide-bck-tl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    -webkit-transform: translateZ(-400px) translateY(-200px) translateX(-200px);
    transform: translateZ(-400px) translateY(-200px) translateX(-200px);
  }
}

@keyframes slide-bck-tl {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
    transform: translateZ(0) translateY(0) translateX(0);
  }

  100% {
    -webkit-transform: translateZ(-400px) translateY(-200px) translateX(-200px);
    transform: translateZ(-400px) translateY(-200px) translateX(-200px);
  }
}





.last_page {

  .content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 100px;

    .profile {
      display: flex;
      flex: 2;
      gap: 60px;
      margin: auto 0;
      justify-content: center;
      text-align: center;


      // 수정
      table {
        width: 80%;

        .tpline {
          border-top: 1px dashed #ddd;
        }

        th {
          padding: 30px;
          font-size: 24px;

          span {
            display: inline-block;
            font-size: 26px;
            padding-left: 10px;
          }
        }

        td {
          width: 50%;
          padding: 0 10px 50px 10px;
          line-height: 1.45;
        }

        th,
        td {
          &:first-child {
            border-right: 1px dashed #ddd;
          }
        }
      }
    }

    .danbi {
      position: relative;
      flex: 1;
      height: 100%;
      border-left: 1px dashed #ddd;

      .dbtxt {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-top: 1px dashed #ddd;
        border-bottom: 1px dashed #ddd;
        padding: 20px;
        width: 100%;
        text-align: center;


        p {
          font-size: 18px;
          font-weight: 700;
          margin: 0 0 10px 0;
          word-break: keep-all;
        }

        strong {
          display: block;
          font-size: 30px;
          font-weight: 800;
        }
      }
    }
  }
}