.inner {
  height: 100vh;
  overflow: hidden;
}

.num {
  position: fixed;
  top: 50%;
  left: 50px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 800;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
  z-index: 999;
}

.section {
  position: relative;

  .subject {
    position: absolute;
    left: 170px;
    top: 50px;
    transform: translateY(-50%);
    font-size: 15px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-bottom: 1px dashed #ddd;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-top: 1px dashed #ddd;
  }

  .inner {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100%;
      border-right: 1px dashed #ddd;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 100%;
      border-left: 1px dashed #ddd;
    }
  }
}

.title_page {
  position: relative;

  .inner {
    position: relative;

    .pf_title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
    }

    .pf_txt {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      padding: 10px 0;
      background: #000;
      color: #fff;
      margin: 0 0 10px 0;

      &::before {
        content: "";
        position: absolute;
        right: 630px;
        top: 25px;
        width: 0;
        height: 0;
        border-bottom: 2px dashed #fff;
        transition: 0.5s 0.5s ease-in;
      }

      &::after {
        content: "";
        position: absolute;
        left: 630px;
        top: 25px;
        width: 0;
        height: 0;
        border-bottom: 2px dashed #fff;
        transition: 0.5s 0.5s ease-in;
      }
    }

    .pf_title:hover .pf_txt::before {
      width: 350px;
    }

    .pf_title:hover .pf_txt::after {
      width: 350px;
    }

    .sqw {
      width: auto;
      display: flex;
      justify-content: center;
    }

    .text {
      color: #000;
      font-size: 80px;
      font-weight: 900;
    }

    .tpq {
      max-width: 0;
      // max-width: 1em;
      opacity: 0;
      transition: 0.5s ease-in;
      color: #333;
    }

    .pf_title:hover .tpq {
      opacity: 1;
      max-width: 1em;
    }

    .blk {
      margin: 0 50px 0 0;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 70px;
    }

    .cs_icon {
      position: absolute;
      right: 50px;
      bottom: -0px;
      font-size: 40px;
      z-index: -1;
      opacity: 1;
      transition: 0.5s ease-in;
    }

    .pf_title:hover .cs_icon {
      opacity: 0;

    }
  }

  .footprint_left {
    position: absolute;
    right: 40px;
    bottom: 60px;
    z-index: 999;
    opacity: 0.1;
    animation: 3s fprint steps(1, start) infinite;

    img {
      height: 60px;
    }
  }

  .footprint_right {
    position: absolute;
    right: 40px;
    bottom: 60px;
    z-index: 999;
    opacity: 0.1;
    animation: 3s fprint_v steps(1, start) infinite;

    img {
      height: 60px;
    }
  }

  .circle {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 0 0 -111px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    -webkit-animation: whirl-bounce 0.5s cubic-bezier(0.6, 0.3, 0.8, 0.5) alternate infinite;
      animation: whirl-bounce 0.5s cubic-bezier(0.6, 0.3, 0.8, 0.5) alternate infinite;
      -webkit-transform-origin: bottom center;
      transform-origin: bottom center;
  }
}

@-webkit-keyframes whirl-bounce {
  0% {
    -webkit-transform: translate(0, -150%) scaleX(1) scaleY(1);
    transform: translate(0, -150%) scaleX(1) scaleY(1);
  }

  100% {
    -webkit-transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
    transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
  }
}

@keyframes whirl-bounce {
  0% {
    -webkit-transform: translate(0, -150%) scaleX(1) scaleY(1);
    transform: translate(0, -150%) scaleX(1) scaleY(1);
  }

  100% {
    -webkit-transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
    transform: translate(0, 150%) scaleX(1.1) scaleY(0.9);
  }
}

@keyframes fprint {
  0% {}

  10% {
    transform: translate(40px, -60px) scaleX(-1);
  }

  20% {
    transform: translate(0px, -120px);
  }

  30% {
    transform: translate(40px, -180px) scaleX(-1);
  }

  40% {
    transform: translate(0px, -240px);
  }

  50% {
    transform: translate(40px, -300px) scaleX(-1);
  }

  60% {
    transform: translate(0px, -360px);
  }

  70% {
    transform: translate(40px, -420px) scaleX(-1);
  }

  80% {
    transform: translate(0px, -480px);
  }

  90% {
    transform: translate(40px, -540px) scaleX(-1);
  }

  100% {
    transform: translate(0px, -600px);
  }
}

@keyframes fprint_v {
  0% {}

  20% {
    transform: translate(40px, -60px) scaleX(-1);
  }

  30% {
    transform: translate(0px, -120px);
  }

  40% {
    transform: translate(40px, -180px) scaleX(-1);
  }

  50% {
    transform: translate(0px, -240px);
  }

  60% {
    transform: translate(40px, -300px) scaleX(-1);
  }

  70% {
    transform: translate(0px, -360px);
  }

  80% {
    transform: translate(40px, -420px) scaleX(-1);
  }

  90% {
    transform: translate(0px, -480px);
  }

  100% {
    transform: translate(40px, -540px) scaleX(-1);
  }
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 100px;

  .photo {
    position: relative;
    flex: 2;
    border-right: 1px dashed #ddd;

    .screen {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 87%;
      border-radius: 30px;
      border: 5px solid #fff;
      overflow: hidden;
      box-shadow: 0 0 10px #ccc;
    }
  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    height: 76%;
    margin: auto 0;

    >div {
      padding: 0 70px;
    }

    strong {
      display: inline-block;
      background: #333;
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      padding: 7px 15px 5px;
      margin: 0 0 20px 0;
    }

    h2 {
      font-size: 40px;
      font-weight: 800;
      margin: 0 0 30px 0;
    }

    .view {
      font-size: 15px;
      color: #666;

      a {
        padding: 10px 20px;
        border: 1px dashed #666;
      }

      :hover {
        background: #666;
        color: #fff;
      }
    }

    >ul {

      >li {
        line-height: 50px;
        border-bottom: 1px dashed #ddd;

        &:first-child {
          border-top: 1px dashed #ddd;
        }

        span {
          display: inline-block;
          margin: 0 0 0 70px;
          font-size: 18px;
          font-weight: 700;
          min-width: 100px;
        }

        ol {
          display: inline-block;

          li {
            display: inline-block;
            width: 25px;
            height: 25px;
            vertical-align: middle;
            border-radius: 50%;
            margin-right: 15px;
            font-size: 0;
            border: 1px solid #ddd;
          }
        }
      }
    }
  }
}